<div id="phone-section">
<h4 class="form-section">Phones</h4>
<button type="button" id="add-phone" class="btn btn-primary" data-toggle="modal" data-target="#add-phone-modal">Add Phone</button>
<br>

{% for a in object.getPhones %}
    {{ f.hidden('phone_id[]', a.getID) }}
    {{ f.group_text('Type', 'name', a.getPhoneType.getName, 3, 4, true) }}
    {{ f.group_text('Number', 'number', a.getNumber, 3, 4, true) }}
    <button id="delete-phone" class="btn btn-default">Delete Phone</button>
    <hr>
{% endfor %}
</div>
