<button type="button" id="print" class="btn btn-primary">Print</button>
<div class="row table-responsive" style="padding-top:10px">
    <div class="col-md-12">
		<table class="table table-striped table-bordered table-hover" aria-describedby="list_table_info">
			<thead>
                <tr>	                
	                <th>Description</th>
	                <th>Requested Quantity</th>
	                <th>Approved Quantity</th>
	                <th style="width: 60px"></th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                    <td colspan="4">
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">                                    
                                    <table class="table content-heading">
                                        <tr>
                                            <td style="width:30%" align="left">Frost Powder</td>
                                            <td style="width:30%" align="right">3</td>
                                            <td style="width:30%" align="right">3</td>                                  
                                            <td align="right"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><i class="glyphicon glyphicon-chevron-down"></i></td>
                                        </tr>
                                    </table>                                                
                                </div>
                                
                                <div id="collapseOne" class="accordion-body collapse out">
                                    <div class="accordion-inner" align="center">
                                        <table id="table1" class="table accordion-contentone">                                                
                                        </table>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="accordion-group">
                                <div class="accordion-heading">                                         
                                    <table class="table content-heading">
                                        <tr>
                                            <td style="width:30%"  align="left">Taro Jelly</td>
                                            <td style="width:30%" align="right">3</td>
                                            <td style="width:30%" align="right">3</td>                        
                                            <td  align="right"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="glyphicon glyphicon-chevron-down"></i></td>
                                        </tr>
                                    </table>                                              
                                </div>                                                    
                                
                                <div id="collapseTwo" class="accordion-body collapse out">
                                    <div class="accordion-inner" align="center">
                                        <table id="table2" class="table accordion-contenttwo">                                                  
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-group">
                                <div class="accordion-heading">                                         
                                    <table class="table content-heading">
                                        <tr>
                                            <td style="width:30%" align="left">Oreo Strawberry</td>
                                            <td style="width:30%" align="right">3</td>
                                            <td style="width:30%" align="right">3</td>                     
                                            <td align="right"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"><i class="glyphicon glyphicon-chevron-down"></i></td>                                            
                                        </tr>
                                    </table>                                              
                                </div>                                                 
                                
                                <div id="collapseThree" class="accordion-body collapse out">
                                    <div class="accordion-inner" align="center">
                                        <table id="table3" class="table accordion-contentthree">                                                  
                                        </table>
                                    </div>
                                </div>
                            </div>                            
                            
                            <div class="accordion-group">
                                <div class="accordion-heading">                                         
                                    <table class="table content-heading">
                                        <tr>
                                            <td style="width:30%"align="left">Yakult</td>
                                            <td style="width:30%" align="right">3</td>
                                            <td style="width:30%" align="right">3</td>                        
                                            <td align="right"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"><i class="glyphicon glyphicon-chevron-down"></i></td>
                                        </tr>
                                    </table>                                              
                                </div>                                                    
                                
                                <div id="collapseFour" class="accordion-body collapse out">
                                    <div class="accordion-inner" align="center">
                                        <table id="table4" class="table accordion-contentfour">                                                  
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </td>               
            	</tr>
            </tbody>
		</table>
    </div>
</div>