<tr>
	<td colspan="4">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <table class="table content-heading">
                            <tr>
                                <td  align="center">PO-2014-0006</td>
                            </tr>
                        </table>
                    </a>
                </div>                
                
                <div id="collapseOne" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <table class="table main-screen">
                            <tr>
                                <td style="width:30%" align="center">DR-2014-0006</td>                              
                                <td style="width:30%" align="center">12/20/2014</td>
                                <td style="width:30%" align="center">Pending</td>
                                <td style="width:10%" align="center"><a href="{{ path('ser_receive_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="accordion-group">
                <div class="accordion-heading">
            	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <table class="table content-heading">
                            <tr>
                                <td  align="center">PO-2014-0007</td>
                            </tr>
                        </table>
                    </a>
                </div>                                   
   
                <div id="collapseTwo" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <table class="table main-screen">
                            <tr>
                                <td style="width:30%" align="center">DR-2014-0007</td>                              
                                <td style="width:30%" align="center">12/21/2014</td>
                                <td style="width:30%" align="center">Pending</td>
                                <td style="width:10%" align="center"><a href="{{ path('ser_receive_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>                             
            
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <table class="table content-heading">
                            <tr>
                                <td  align="center">PO-2014-0008</td>
                            </tr>
                        </table>
                    </a>
                </div>
            
	            <div id="collapseThree" class="accordion-body collapse out">
	                <div class="accordion-inner">
	                    <table class="table main-screen">
	                        <tr>
	                            <td style="width:30%" align="center">DR-2014-0008</td>                             
	                            <td style="width:30%" align="center">12/22/2014</td>
	                            <td style="width:30%" align="center">Pending</td>
	                            <td style="width:10%" align="center"><a href="{{ path('ser_receive_view') }}" lass="btn default btn-xs blue-madison">View</a></td>
	                        </tr>
	                    </table>
	                </div>
	            </div>
            </div>                               
            
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <table class="table content-heading">
                            <tr>
                                <td  align="center">PO-2014-0009</td>
                            </tr>
                        </table>
                    </a>
                </div>                                   
                
                <div id="collapseFour" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <table class="table main-screen">
                            <tr>
                                <td style="width:270px" align="center">DR-2014-0009</td>                              
                                <td style="width:347px" align="center">12/25/2014</td>
                                <td style="width:332px" align="center">Pending</td>
                                <td align="center"><a href="{{ path('ser_receive_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

