{% import "CatalystTemplateBundle::form.html.twig" as f %}

<h4 class="form-section">Information</h4>
{{ f.group_select('Destination','','','',3,4)}}
<h4 class="form-section">Product Entries</h4>
<button type="button" id="add-product" class="btn btn-primary" data-toggle="modal" data-target="#add-product-modal">Add Product</button>
<div class="row table-responsive" style="padding-top:10px">
	<div class="col-md-12">
		<table class="table table-striped table-bordered table-hover" aria-describedby="list_table_info">
			<thead>
                <tr>
	                <th>Product</th>
	                <th>Quantity</th>
	                <th style="width: 60px"></th>
                </tr>
            </thead>
            <tbody id="from_table">            	
            </tbody>
		</table>
	</div>
</div>