{% extends "CatalystTemplateBundle:Object:list.dynamic.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ list_title }}</div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                </div>
                <table class="table table-striped table-bordered table-hover" id="list_table">
                    <thead>
                        <tr>
                        {% for col in grid_cols %}
                            <th>{{ col.getLabel }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% include "SereniteaOrderBundle::complete.html.twig" %}                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}